Java socket error: EBADF

This happens with 1.0.42 and above, 1.0.39 works fine, all from F-Droid. I'll post a screenshot of the actual error message in a bit, but it comes from org.jivesoftware.smack.SmackException$ConnectionException

I got the same error with 1.0.42 (built from the 1.0.42 tag, with dev-debug). (The domain/host names are obscured below.)

FYI, my server is running ejabberd 2.1.10.

11-29 17:36:53.435 W/System.err(11334): org.jivesoftware.smack.SmackException$ConnectionException: The following addresses failed: 'myhost.mydomain.org:5222 prio:10:w:5' failed because java.net.SocketException: java.io.IOException: fcntl failed: EBADF (Bad file number), 'mydomain.org:5222' failed because java.net.SocketException: java.io.IOException: fcntl failed: EBADF (Bad file number)
11-29 17:36:53.435 W/System.err(11334):         at org.jivesoftware.smack.tcp.XMPPTCPConnection.connectUsingConfiguration(XMPPTCPConnection.java:596)
11-29 17:36:53.436 W/System.err(11334):         at org.jivesoftware.smack.tcp.XMPPTCPConnection.connectInternal(XMPPTCPConnection.java:830)
11-29 17:36:53.436 W/System.err(11334):         at org.jivesoftware.smack.AbstractXMPPConnection.connect(AbstractXMPPConnection.java:365)
11-29 17:36:53.436 W/System.err(11334):         at com.xabber.android.data.connection.ConnectionThread.connect(ConnectionThread.java:301)
11-29 17:36:53.436 W/System.err(11334):         at com.xabber.android.data.connection.ConnectionThread.access$000(ConnectionThread.java:66)
11-29 17:36:53.437 W/System.err(11334):         at com.xabber.android.data.connection.ConnectionThread$2.run(ConnectionThread.java:214)
11-29 17:36:53.437 W/System.err(11334):         at com.xabber.android.data.connection.ConnectionThread$18.run(ConnectionThread.java:636)
11-29 17:36:53.437 W/System.err(11334):         at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:422)
11-29 17:36:53.437 W/System.err(11334):         at java.util.concurrent.FutureTask.run(FutureTask.java:237)
11-29 17:36:53.437 W/System.err(11334):         at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1112)
11-29 17:36:53.437 W/System.err(11334):         at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:587)
11-29 17:36:53.438 W/System.err(11334):         at java.lang.Thread.run(Thread.java:818)


I found that this is partially correlated to a mis-configuration on my server: it listened to IPv4 only, but my SRV hostname has both A and AAAA. After tcpdump showed RSTs on IPv6, the client ConnectionException occured. (The wifi I usually use has native IPv6 support.)

After correcting my server configuration to listen on both v4/v6, 1.0.42 worked.

Probably this indicate a bug in smack: it should fail over to IPv4 after it gets IPv6 connection failures in this case.

may be @Flowdalic could answer you. 

> it should fail over to IPv4 after it gets IPv6 connection failures in this case.

That would be the case if `InetAddress.getAllByName()` would only return the IPv6 addresses. I wouldn't expect such an behavior, but it would explain what you describe. I'll have a closer look once I find the time (Ping me if I forget about it).

The FINER log statements of https://github.com/igniterealtime/Smack/blob/4.1.5/smack-tcp/src/main/java/org/jivesoftware/smack/tcp/XMPPTCPConnection.java#L580 and https://github.com/igniterealtime/Smack/blob/4.1.5/smack-tcp/src/main/java/org/jivesoftware/smack/tcp/XMPPTCPConnection.java#L590 would be of interest in this case.

@grigoryfedorov Is it possible in Xabber to enable logging those FINE(ER/EST) log messages? On Android this means usually installing a custom JUL handler (like MAXS does here: https://github.com/ProjectMAXS/maxs/blob/master/main/src/org/projectmaxs/shared/global/jul/JULHandler.java).

Thank you for the replies!

Probably I should also double check my DNS server configuration, to see whether they did some problematic resolution and returned IPv6 only. (However, this is not quite likely the case, because all the other XMPP accounts of mine worked at the time when this bug occurred.)

If you could enable the FINE(ER/EST) log in xabber/smack, I would also obtain more log for diagnosis, when I have some time in the weekends.

@culugyx is on the right path. Connecting to my server via my IPv6-enabled ADSL returns the EBADF error in question, while connecting via IPv4-only mobile data succeeds.

The file [log.txt](https://github.com/redsolution/xabber-android/files/74836/log.txt) shows a logcat dump of an ADSL connection attempt (server names and IPs obscured).

I confirm that, having reconfigured the server to listen on both IPv4 and IPv6, the error disappears.



And before your XMPP server was only listening on v4 while the DNS information contained also v6 addresses? How did you obtain the log? There seems to be some kind of debugger attached. The log shows an exception when connecting to an v4 address. How does this fit into the picture?

@Flowdalic 

> And before your XMPP server was only listening on v4 while the DNS information contained also v6 addresses?

Correct. In this case, the ejabberd configuration was such that it was only listening on 0.0.0.0:5222 for client connections. It now listens on both 0.0.0.0:5222 and [::]:5222.

> How did you obtain the log?

`adb logcat |tee log.txt`

I then removed some seemingly uninteresting/unrelated log info and edited the server names and IPs.

> The log shows an exception when connecting to an v4 address.

Would that be on line 31, for example?

> How does this fit into the picture?

I do not know. But it appears that it is trying to connect to example.org:5222, which has *no* XMPP server running. The DNS zone for example.org, however, has the following records to point XMPP connections to the actual machine serving the domain:

```
_xmpp-client._tcp 10800 IN SRV 10 0 5222 real.example.com.
_xmpp-server._tcp 10800 IN SRV 10 0 5269 real.example.com.
```

May that IPv4 exception be an indication of Xabber trying to connect to a server it shouldn't?


> I do not know. But it appears that it is trying to connect to example.org:5222, which has no XMPP server running.

That's perfectly fine. XMPP clients like Smack first try to resolve and connect to the host pointed to by SRV RRs and then fall back doing a A/AAAA query on the service name to determine a host to connect to.

As summary: It appears this was caused by an IPv6 only client which tried to connect to an XMPP service announcing availability over IPv6 but not actually listening on an IPv6 address.

Smack's ConnectionException could hold some more information. I've created [SMACK-711](https://igniterealtime.org/issues/browse/SMACK-711) to track this.

@Flowdalic 

> As summary: It appears this was caused by an IPv6 only client which tried to connect to an XMPP service announcing availability over IPv6 but not actually listening on an IPv6 address.

Not quite correct. It was caused by an IPv6 *and* IPv4 client which tried to connect to an XMPP service announcing availability over IPv6 but not actually listening on an IPv6 address. It tried on IPv6 first and would not fall back to IPv4 on failure.


> That's perfectly fine. XMPP clients like Smack first try to resolve and connect to the host pointed to by SRV RRs and then fall back doing a A/AAAA query on the service name to determine a host to connect to.

I am not entirely sure about the security implications of this. Which should be the highest authority, the DNS zone or a host serving a domain? Do we know of any RFCs / XEPs that touch upon this issue?

I realise this is probably a Smack problem, not Xabber's.


> It tried on IPv6 first and would not fall back to IPv4 on failure.

That's odd, it should try to connect to all IPs returned by https://github.com/igniterealtime/Smack/blob/6739b74ff939544141620f955192796996928d78/smack-tcp/src/main/java/org/jivesoftware/smack/tcp/XMPPTCPConnection.java#L571. Maybe getAllByName returns only IPv6 addresses in same cases. That needs some investigation, the log statements as mentioned in https://github.com/redsolution/xabber-android/issues/539#issuecomment-160602912 would sure be helpful.

> I am not entirely sure about the security implications of this.

There are none.

> Which should be the highest authority, the DNS zone or a host serving a domain? Do we know of any RFCs / XEPs that touch upon this issue?

RFC 6120 § 3.2.2

> It would be pretty stupid, but theoretically, nothing stops someone from serving, let us say abc.net from xyz.org and xyz.org from tuv.edu. In this scenario, connections attempts to both xmpp://abc.net and xmpp://xyz.org will always fail.

I'm not entirely sure what scenario you are making up here. Since this is OT, feel invited to join #smack (freenode) or the jdev MUC, if you want to discuss this further.


> RFC 6120 § 3.2.2

Thanks for the reference. In that case Xabber (or Smack) has it the wrong way around. Namely, unless the user has chosen not to use DNS resolution, as per [§ 3.2.3](https://tools.ietf.org/html/rfc6120#section-3.2.3), the preferred process should be followed ([§ 3.2.1](https://tools.ietf.org/html/rfc6120#section-3.2.1)), and only if that fails, fall back onto "A" / "AAAA" resolution as per [§ 3.2.2](https://tools.ietf.org/html/rfc6120#section-3.2.2).

At the moment it appears that we are going for "AAAA" / "A" first and "SRV" second, which does not follow the RFC.


No, Smack follows the RFC. First SRV is used and only as fallback A/AAAA.

My mistake, I had misread one of your previous comments. Sorry for the confusion.


FYI I just identified a possible cause for this ("fnctl failed: EBADF"): Smack tries to re-use the socket after a failed connection attempt, but this is not standard compliant, in that, sockets are in an unspecified state after a failed connect. In @9662 case, this was because of the failed IPv6 connection attempt, which causes successive connection attempts to trigger the IOException because of the failed `fnctl()`. I've created [SMACK-724](http://issues.igniterealtime.org/browse/SMACK-724) to track this.

@grigoryfedorov Do you need this in a 4.1.8 Smack release or is it ok to have it only in Smack 4.2?

@Flowdalic we're already migrating Xabber to Smack 4.2, so fix in 4.2 is ok, thanks!