Problem with 

At first I want to say "Thank you" for Xabber development.
The second I want to ask for help with Xabber configuration.
I installed Openfire server for my company needs and configured it. All PC clients works well, encryption works too, but I have a problem with mobile client configuration. I can't connect to server via Xabber and I don't know what to do. The last chance is to disable encryption after that I can connect to server via Xabber. But I need encryption and it's very important part for my company.
When Xabber can't connect to server that message appear:

![screenshot_20170828-102945](https://user-images.githubusercontent.com/31403576/29768994-00894520-8bf1-11e7-982e-bf839882c3b3.png)

Debug information from Xabber:
[2017-08-28_10-38-03.txt](https://github.com/redsolution/xabber-android/files/1256408/2017-08-28_10-38-03.txt)

On server side there is no any warnings or errors.



Generate SSL certificate in any other way(like http://www.selfsignedcertificate.com/) and import them into Openfire

Didn't they generated during installation? 
In Server>TLS/SSL Certificates>Certificate Stores I can see couple certificates with my domain name. 

@sudosusudo certificates are generated during installation, but they are broken. It's a known bug in OpenFire. 

Could anyone provide me with detailed instruction how to import existing certificates to Openfire?
PS: I tried to use one instruction and it's seems that I broke Openfire((   

That is Xabbers issue tracker 😉 I wouldn't expect here "detailed" instructions for openfire. A good place to look for is probably:

https://community.igniterealtime.org/community/support/openfire_(formerly_wildfire)_support

If switching the xmpp server is an option for you, I recommend https://prosdody.im (works great with xabber for me, good documentation and very nice people in their MUC when you have further questions)

The member from https://community.igniterealtime.org told me that it's an Xabber issue and I have to ask my question here))


> The self signed certificates created by OpenFire will crash the Java/Android TLS stack when
> accessing getSubjectAlternativeNames() on the the peer certificate.
> This usually goes unnoticed in other applications since the
> DefaultHostnameVerifier checkes the CN first. That however is a
> violation of RFC6125 section 6.4.4 which requires us to check for the
> existence of SAN first.

I want to say "Thank you!" to all who tried to help me. When I installed Prosody my problem resolved. 
Now I want to try ejabberd because I need conversation history and web interface. 